* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
  background-color: #eef4d4;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  padding: 0 16px;
}

header {
  background-color: rgb(0, 106, 113, 0.7);
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 1px 5px #00cc99;
  /* opacity: 0.7; */
}

header .header {
  color: #d3de32;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

header .profile {
  color: #fff;
  float: right;
  clear: both;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer a {
  color: #fff;
}

footer a:hover {
color: #fff;
width: 150px;
height: 50px;
text-decoration: none;
}

.glow-on-hover {
width: 220px;
height: 50px;
border: none;
outline: none;
color: #fff;
background: rgb(0, 106, 113, 0.3);
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 10px;
}

.glow-on-hover:before {
content: '';
background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
position: absolute;
top: -2px;
left:-2px;
background-size: 400%;
z-index: -1;
filter: blur(5px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowing 20s linear infinite;
opacity: 0;
transition: opacity .3s ease-in-out;
border-radius: 10px;
}

.glow-on-hover:active {
color: #000
}

.glow-on-hover:active:after {
background: transparent;
}

.glow-on-hover:hover:before {
opacity: 1;
}

.glow-on-hover:after {
z-index: -1;
content: '';
position: absolute;
width: 100%;
height: 100%;
/* background: #111; */
left: 0;
top: 0;
border-radius: 10px;
}

@keyframes glowing {
0% { background-position: 0 0; }
50% { background-position: 400% 0; }
100% { background-position: 0 0; }
}

.note {
  border-radius: 7px;
  border: 1px solid #eef4d4;
  box-shadow: 0 2px 5px #eef4d4;
  padding: 10px;
  width: 245px;
  margin: 16px;
  float: left;
}

.completed {
text-decoration: line-through;
background: rgb(0,204,153, 0.3);
}

.note p {
  text-align: center;
  box-shadow: 0 2px 5px #eef4d4;
  border-radius: 7px;
  background: #eef4d4;
  padding: 11px;
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  box-shadow: 0 2px 5px #eef4d4;
  padding: 5px;
  border-radius: 25px;
  position: relative;
  border: none;
  width: 35px;
  cursor: pointer;
  outline: none;
}

.note button.remove {
  background-color: #dd1155;
  float: left;
}

.note button.done {
  background-color: #00cc99;
  float: right;
}

input {
  position: relative;
  width: 100%;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px #00cc99;
  border: none;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}